
config global
	option http_port '81'
	option https_port '444'
	option out_acc_enable '0'
	option out_http_port '8081'
	option out_https_port '8444'
	option share_folder_num '30'
	option enable '1'

config share
	option path '/mnt/FAT32/hello nihao'
	option anon_auth '1'
	option readonly '0'
	option user ''
	option share_name 'hello'
