config global
	option 'enable'		'1'
	option 'netbios'	'openwrt'
	option 'workgroup'	'Workgroup'
	option 'share_folder_num'	'30'
config share
	option 'path'           '/etc/'
	option 'anon_auth'      '2'	

config share
	option 'path'           '/mnt/FAT32/hello nihao'
	option 'anon_auth'      '2'
#	option 'share_name'	'liqiyuanshare'	
	option 'share_name'	'hello nihao'	

config print
#	list 'printer' 'HP_LaserJet_3050'
