config global
	option enable	'1'
	
config share
	option path 		'/mnt/SANDISK'
	
	#the permission's value can be rw,ro.
	option permission 	'rw'
	
	#if allow_devices's value can be "IP1,IP2" which means \
	#allow the devices which with the IP1 and which with IP2\
	#or "*" which mean allow all IPs.
	list   allow_devices	'10.8.2.39'
